*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1513530176992-0cf39c4cbed4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80");
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 200px auto;
}

#cafe-name{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:brown;
    text-shadow: 3px 3px 3px aqua;
    font-size: 40px;
    letter-spacing: 5px;
}

.main-pic{
    width: 100%;
    border-radius: 16px;
}

.button-container{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 6px 0;
}

#btn-1{
    background-color: aqua;
    color: black;
    padding: 4%;
    border: none;
    border-radius: 8px;
    margin-bottom: 3px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

#btn-2{
    background-color: brown;
    color: white;
    padding: 4%;
    border: none;
    border-radius: 8px;
    margin-top: 3px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

#iced-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.iced-coffees{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 100px 0;
}

.iced-img{
    border-radius: 16px;
}

.info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    height: 70px;
}

#name{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: #6F4E37 ;
}

#price{
    font-family:fantasy;
    font-size: 25px;
    color: #6F4E37 ;
}

#buy{
    border: none;
    margin-top: 15px;
    font-size: 25px;
    cursor: pointer;
    background-color: #6F4E37 ;
    color: white;
    border-radius: 8px;
    width: 50%;
    letter-spacing: 15px;
}





#hot-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hot-coffees{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 100px 0;
}

.hot-img{
    border-radius: 16px;
}

